[{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/","body":"","status":200,"response":{"result":{"message":"Thanks for trying ideal-postcodes.co.uk. To find out how to use this API please visit https://ideal-postcodes.co.uk/documentation","links":{"website":"https://ideal-postcodes.co.uk","documentation":"https://ideal-postcodes.co.uk/documentation","status_page":"https://status.ideal-postcodes.co.uk","openapi":"https://openapi.ideal-postcodes.dev","developer_chat":"https://chat.ideal-postcodes.co.uk","github":"https://github.com/ideal-postcodes"}},"code":2000,"message":"Success"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 15:21:54 GMT","Content-Type","application/json; charset=utf-8","Content-Length","501","Connection","close","Access-Control-Allow-Origin","*","X-Content-Type-Options","nosniff","ETag","W/\"1f5-70t53Zjsz7y+XNW8+NgaEpmVU64\"","Expires","Sat, 08 Jun 2019 15:21:53 GMT","Cache-Control","no-cache"]},{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/v1/postcodes/SW1A%202AA","body":"","status":200,"response":{"result":[{"postcode":"SW1A 2AA","postcode_inward":"2AA","postcode_outward":"SW1A","post_town":"LONDON","dependant_locality":"","double_dependant_locality":"","thoroughfare":"Downing Street","dependant_thoroughfare":"","building_number":"10","building_name":"","sub_building_name":"","po_box":"","department_name":"","organisation_name":"Prime Minister & First Lord Of The Treasury","udprn":23747771,"umprn":"","postcode_type":"L","su_organisation_indicator":"","delivery_point_suffix":"1A","line_1":"Prime Minister & First Lord Of The Treasury","line_2":"10 Downing Street","line_3":"","premise":"10","longitude":-0.127695,"latitude":51.50354,"eastings":530047,"northings":179951,"country":"England","traditional_county":"Greater London","administrative_county":"","postal_county":"London","county":"London","district":"Westminster","ward":"St James's"}],"code":2000,"message":"Success"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 15:21:54 GMT","Content-Type","application/json; charset=utf-8","Content-Length","889","Connection","close","Access-Control-Allow-Origin","*","X-Content-Type-Options","nosniff","ETag","W/\"379-vDMtoBJ97p05oDU+qpjdrgCQ/24\"","Expires","Sat, 08 Jun 2019 15:21:53 GMT","Cache-Control","no-cache"]},{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/v1/postcodes/Definitely%20bogus","body":"","status":404,"response":{"code":4040,"message":"Postcode Not Found"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 15:21:54 GMT","Content-Type","application/json; charset=utf-8","Content-Length","44","Connection","close","Access-Control-Allow-Origin","*","ETag","W/\"2c-sTvArd0BHNSPZu/x502EXsUTd7o\""]},{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/v1/postcodes/ID1%20CLIP","body":"","status":402,"response":{"code":4020,"message":"Key balance depleted. For more information see http://ideal-postcodes.co.uk/documentation/response-codes#4020"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 15:21:54 GMT","Content-Type","application/json; charset=utf-8","Content-Length","135","Connection","close","Access-Control-Allow-Origin","*","ETag","W/\"87-b7MpPtdVrNBeOUaiv855YSecPzM\""]},{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/v1/postcodes/ID1%20CHOP","body":"","status":402,"response":{"code":4021,"message":"Lookup Limit Reached. For more information see http://ideal-postcodes.co.uk/documentation/response-codes#4021"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 15:21:54 GMT","Content-Type","application/json; charset=utf-8","Content-Length","135","Connection","close","Access-Control-Allow-Origin","*","ETag","W/\"87-nLG8UVkk6ep4wLNIr9/etybg8TA\""]},[...]
